#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  --background: linear-gradient(45deg, rgb(0, 200, 171) 0%, rgb(106, 174, 242) 100%);
}

.padding-separator {
  padding: 25px;
  text-align: left;
}

.font-style {
  color: rgb(255, 255, 255);
  font-family: Helvetica;
  font-size: 17px;
}

.record-container {
  padding: 25px;
  bottom: -8px;
  position: relative;
}

.record-button {
  --background: rgb(32, 204, 143);
  --border-radius: 50%;
  height: 60px;
  width: 60px;
}

.recording-button {
  --background: rgb(246, 95, 114);
  --border-radius: 50%;
  height: 60px;
  width: 60px;
}

.talk-message {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
