<ion-content>
    <div id="container">
        <div>
            <div class="padding-separator font-style">
                <ion-label>12. Mantén presionado el botón mientras lees la siguiente frase:</ion-label>
            </div>
            <div class="padding-separator font-style">
                <ion-label>
                    "Muchos años después, frente al pelotón de fusilamiento, el General Aureliano Buen Día habría de
                    recordar aquella tarde en que su padre lo llevó a conocer el hielo."
                </ion-label>
            </div>

            <div class="record-container">
                <ion-button id="record-button"
                            [ngClass]="{'record-button':!statusRecording, 'recording-button':statusRecording}"
                            (press)="onPress($event)" (pressUp)="onPress($event)">
                    <ion-img src="../../assets/images/mic/mic.svg"></ion-img>
                </ion-button>
            </div>
            <div class="talk-message">
                <ion-label class="font-style"
                           *ngIf="status === 'init' || status === 'end' ">{{recordingMessage}}</ion-label>
            </div>


            <!--<ion-list>
                <ion-item *ngFor="let record of records" tappable (click)="playAudio(record)">
                    <ion-icon name="play-outline"></ion-icon>
                    <ion-label> {{record.name}} </ion-label>
                </ion-item>
            </ion-list>-->
        </div>
    </div>
</ion-content>
